.b01 {
	color: #fff;
	height: 515px;
	background: url("../img/b01_bg.jpg") top center no-repeat;

	.container {
		height: 100%;
	}

	.top {
		height: 103px;
		position: relative;
		margin-bottom: 40px;
		border-bottom: 1px solid #575757;
	}

	.top__logo {
		left: 0;
		top: 31px;
		width: 208px;
		height: 41px;
		position: absolute;
		background: url("../img/logo.png") 0 0 no-repeat;
	}

	.top__contact {
		right: 0;
		top: 31px;
		text-align: right;
		position: absolute;

		.tel {
			color: #ffb400;
			display: block;
			font-size: 26px;
			font-weight: 500;
			line-height: 28px;
		}

		.worktime {
			color: #fff;
			font-size: 16px;
			font-weight: 300;
			line-height: 20px;
		}
	}

	h1 {
		color: $color-yellow;
		margin-left: 85px;
		font-size: 36px;
		font-weight: 500;
		line-height: 40px;
		margin-bottom: 40px;
	}

	.b01__text {
		top: 145px;
		left: 400px;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		position: absolute;

		span {
			color: $color-yellow;
			text-transform: uppercase;
		}
	}

	.b01__video {
		bottom: 0;
		left: 95px;
		width: 540px;
		overflow: hidden;
		position: absolute;

		&:before {
			left: 0;
			bottom: 0;
			z-index: 50;
			width: 100%;
			height: 10px;
			content: " ";
			position: absolute;
			background: rgba(169, 169, 169, .6);
		}
	}

	.b01__price {
		margin-left: 660px;

		.b01__price-name {
			font-size: 20px;
			margin-bottom: 2px;
		}

		.b01__price-value {
			font-size: 30px;
			font-weight: 500;
			color: $color-yellow;
			margin-bottom: 15px;
		}
	}
}